extends layout

block content

    #contactContent.container(overflow: scroll;)
        div(align='left')
            h2(style="padding-bottom: 25px;") Navigation im 3D-Objekt

            table(border='0')
                tr
                    th Maus
                    th Touch
                    th Aktion
                tr
                    td(style="padding-right: 25px;") Linke/Rechte Maustaste Klick
                    td(style="padding-right: 35px;") einmal tippen
                    td Auswahl eines 3D-Objekts
                tr
                    td(style="padding-right: 25px;") Linke Maustaste gedrückt
                    td(style="padding-right: 35px;") Ein Finger gedrückt
                    td 3D-Objekts rotieren
                tr
                    td(style="padding-right: 25px;") Rechte Maustaste gedrückt
                    td(style="padding-right: 35px;") Drei Finger gedrückt
                    td 3D-Objekt verschieben
                tr
                    td(style="padding-right: 25px;") Mausrad
                    td(style="padding-right: 35px;") Zwei Finger gedrückt
                    td zoomen