extends layout

block content

    #myContent.container
        .row.row-offcanvas.row-offcanvas-right
            #leftSide.col-xs-12.col-sm-9
                p.pull-right.visible-xs
                    button#toggle.btn.btn-primary.btn-xs(type='button', data-toggle='offcanvas')
                        span.icon-bar-2
                            span.icon-bar-2
                                span.icon-bar-2
                #Stats-output
                #WebGL-output.webgl
                    #breadcrumbs
            #sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role='navigation')
                .searchbox
                    input#search-input(type='text​',placeholder='search​')
                    button#reset.btn.btn-default reset
                #accordion

    script(type='text/javascript', src='libs/three.js')
    script(type='text/javascript', src='libs/Detector.js')
    script(type='text/javascript', src='libs/stats.min.js')
    script(type='text/javascript', src='libs/dat.gui.min.js')
    script(type='text/javascript', src='libs/OrbitControls.js')
    script(type='text/javascript', src='libs/tween.min.js')
    script(type='text/javascript', src='libs/socket.io.js')
    script(type='text/javascript', src='javascripts/animations.js')
    script(type='text/javascript', src='javascripts/canvas.js')
