doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='this is my bachelor thesis')
    meta(name='author', content='Nils Brinkmann')

    title= "Bachelorarbeit"

    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/smoothness/jquery-ui-1.10.3.custom.min.css', rel='stylesheet')
    link(href='/stylesheets/offcanvas.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='libs/jquery-2.0.3.js')
    script(type='text/javascript', src='libs/jquery-ui-1.10.3.custom.min.js')
    script(type='text/javascript', src='libs/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/offcanvas.js')

    body

        .navbar.navbar-fixed-top.navbar-inverse(role='navigation')
            .container
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a(href='/lndw') LNDW
                        li
                            a(href='/about') About
                        li
                            a(href='/contact') Contact

    block content