
@media screen and (max-width: 767px) {
  .sidebar-offcanvas {
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

   #toggle {
       -webkit-transition: all 0.25s ease-out;
       -moz-transition: all 0.25s ease-out;
       transition: all 0.25s ease-out;
   }

   .row-offcanvas {
       position: relative;
   }

  /*.row-offcanvas-right*/
  /*.sidebar-offcanvas {*/
    /*right: -40%;  */
  /*}*/

  /*.row-offcanvas-right.active {*/
    /*right: 40%;  */
  /*}*/


    .sidebar-offcanvas {
        right: -40%;
    }

    .sidebar-offcanvas.active {
        right: 0%;
    }

    #toggle.active{
        right: 40%;
    }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 40%; /* 6 columns */
  }

  #leftside{
      position: absolute !important;
  }
}