
html,body {
}

body{
    overflow: hidden;
    /*margin: 0;*/
}

#myContent{
    width: 100%;
    margin-top: 60px;
}

.webgl{
    width: 100%;
    /*border: 1px solid #cccccc;*/
    /*border-radius: 4px;*/
}

#accordion{
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
}

.ui-accordion-header{
    padding: 0 !important;
    padding-left: 2.2em !important;
    background: none !important;
    background-color: #f5f5f5 !important;
}

.searchbox{
    background-color: #ffffff;
}

/* div around canvas */
#leftSide{
    padding-left: 10px;
    padding-right: 5px;
}

#sidebar{
    padding-right: 10px;
    padding-left: 5px;
}

/* button to toggle sidebar */
#toggle{
    position: absolute;
    right: 1px;
    height: 30px;
    width: 24px;
    background-color: #ffffff;
    border-color: #cccccc;
    z-index: 1000;
}

/* style for button to toggle sidebar */
.icon-bar-2{
    display: block;
    width: 2px;
    height: 22px;
    border-radius: 1px;
    background-color: #000000;
    position: relative;
}

span span{
    margin-left: 5px;
}

.searchbox{
    margin-bottom: 5px;
}

#search-input{
    width: 80%;
}

#breadcrumbs {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align:center;
}

#breadcrumbs a{
    cursor: pointer;
    font-size: large;
    color: black;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}

#breadcrumbs a:hover{
    text-decoration: none !important;
}

button{

}
#buildingBread,#floorBread,#roomBread,#reset{
    padding: 0px 7px !important;
    height: 23px;
    margin-bottom: 4px !important;
    color: #545454 !important;
    background-color: #f5f5f5 !important;
}

/*------------------------------------------------------ Contact --------------------------------------------------*/
#contactContent{
    margin-top: 130px;
    margin-left: 50px;
    text-align: center;
}
